body {
    font-family: 'Amatic SC', cursive;

}
h1 {
    margin: 20px;
    font-size: 50px;
}

h3 {
    margin: 20px;
    font-size: 30px;
}
.tophead{
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-end;
    flex-wrap: wrap;
}
.tophead > section{
    width: 25%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
.tophead > section > figure{
    width: 230px;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.tophead > section > figure > img{
    width: 225px;
    height: 225px;
}
.tophead > nav{
    width: 75%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-self: stretch;
    flex-wrap: wrap;
}
.tophead > nav > ul{
    width: 75%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    align-self: stretch;
    flex: 1;
}
.tophead > nav > ul > li{
    justify-self: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.tophead > nav > ul li:last-of-type{
    margin: 0;
}
.tophead > nav > ul > li > a{
    display: block;
    background-color: brown;
    color: white;
    text-decoration: none;
    padding: 5px 16px;
    font-size: 35px;
    border: solid 2px #97743a;
    border-bottom-right-radius:25px;
    border-top-left-radius: 25px;
    box-shadow: #49412c 2px 2px 2px 2px;
}
main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}
main > section{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
main > section > figure{
    width: 100%;
    height: 500px;
    box-sizing: border-box;
    border: solid 2px #97743a;
    border-bottom-right-radius:25px;
    border-top-left-radius: 25px;
    overflow: hidden;
}
.flex-img {
    width:  100%;
    height: 500px;
}

.personal-data{
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;
}
.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-self: stretch;
    margin-left: 5%;
}

.form > header {
    display: flex;
    justify-content: flex-start;

}

.form > form {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    border: solid #262216 5px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    padding: 5px;
    background-color: wheat;
    margin-bottom: 10px;
    font-size: 20px;

}

.form > form > input {
    max-width: 50%;
}


input {
    border: solid #262216 2px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    padding-left: 5px;
}

.border-textarea {
    display: flex;
    flex-wrap: wrap;
    border: solid #262216 3px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    width: 50%;
    height: auto;
    overflow: hidden;
    box-sizing: content-box;
}

textarea {
    width: 100%;
    height: 100%;
    padding-left: 5px;
    margin: 0;
    align-self: stretch;
}

label {
    margin-bottom: 5px;
    margin-left: 5px;
}

#submit {
    background-color: brown;
    color: white;
    border: solid 2px #97743a;
    border-bottom-right-radius:25px;
    border-top-left-radius: 25px;
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
    box-shadow: #49412c 2px 2px 2px 2px;
    width: 95%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.radio-buttons{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

.radio-buttons > header{
    display: flex;
    flex-direction: column;

}

.radio-buttons > form {
    display: flex;
    flex-direction: row;
    border: solid #262216 5px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    margin-bottom: 10px;
    background-color: wheat;
    width: 90%;
    padding: 15px;
    font-size: 20px;

}

.shipment-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.radio-buttons > form > label {
    display: flex;
    vertical-align: middle;
}

.order-details {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    align-self: stretch;
    margin-left: 5%;
    margin-right: 5%;
}
.order-details header{
    width: 100%;
    height: auto;
}
.product-sum{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    background-color: wheat;
    border: solid #262216 5px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    box-sizing: border-box;
}
.productlist {
    width: 50%;
    height: auto;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding-top: 25px;
}

.product {
    width: 100%;
    height: 100px;
    margin-bottom: 25px;
    border: solid 3px #97743a;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 25px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    color: white;
    background-color: #262216;
    box-sizing: border-box;
}
.product section{
    width: 10%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
.product section figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.order-img {
    height: 100%;
    width: 100%;
}
.productdetails{
    height: 100%;
    width: 50%;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: stretch;
    font-size: 15px;
}
.productprice{
    height: 100%;
    width: 10%;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: stretch;
}
.price{
    color: brown;
    font-size: 25px;
}
.buttonsection{
    width: 100%;
    height: auto;
    align-self: flex-end;
}
#remove{
    background-color: brown;
    color: white;
    border: solid 2px #97743a;
    border-bottom-right-radius:25px;
    border-top-left-radius: 25px;
    font-family: 'Amatic SC', cursive;
    font-size: 18px;
    box-shadow: #49412c 2px 2px 2px 2px;
}
.order-sum-total{
    width: 49%;
    height: auto;
    align-self: flex-start;
}
footer {
    width: 100%;
    height: 150px;
    border: solid 2px black;
}